In [16]:
import psycopg2
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
# creating variables that contain the connection information

dbname = "dev"
host = "redshift-cluster-1.c9gt5btzchps.eu-central-1.redshift.amazonaws.com"
port= 5439
user = ""
password = ""

In [4]:
# passing your connection info into the connect function to redshift data warehouse
connect = psycopg2.connect(dbname=dbname,
                         host=host,
                         port=port,
                         user=user,
                         password=password)
connect

In [17]:
# writing a sql query and storing this as a variable so that python can pick this code up

query = """select *
            from bootcamp.stock_description 
            limit 10"""

pd.read_sql(query, connect)

  stock_code                   description
0      10002   INFLATABLE POLITICAL GLOBE
1      10080      GROOVY CACTUS INFLATABLE
2      10120                  DOGGY RUBBER
3     10123C         HEARTS WRAPPING TAPE
4     10124A   SPOTS ON RED BOOKCOVER TAPE
5     10124G      ARMY CAMO BOOKCOVER TAPE
6      10125       MINI FUNKY DESIGN TAPES
7      10133  COLOURING PENCILS BROWN TUBE
8      10135  COLOURING PENCILS BROWN TUBE
9      11001   ASSTD DESIGN RACING CAR PEN

In [18]:
query = """select *
            from bootcamp.stock_description 
        """

stock_description = pd.read_sql(query, connect)

In [19]:
stock_description.shape

(3952, 2)

In [20]:
query = """select *
            from bootcamp.online_transactions
            """

online_transactions = pd.read_sql(query, connect)

In [21]:
online_transactions.shape

(541910, 7)