In [16]:
# installing a library from your notebooks - one off

# ! pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.9.9)

[notice] A new release of pip is available: 23.3 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import psycopg2
import pandas as pd

In [3]:
# creating variables that contain the connection information

dbname = "dev"
host = "redshift-cluster-1.c9gt5btzchps.eu-central-1.redshift.amazonaws.com"
port= 5439
user = "admin"
password = ""

In [4]:
# passing your connection info into the connect function to redshift data warehouse
connect = psycopg2.connect(dbname=dbname,
                         host=host,
                         port=port,
                         user=user,
                         password=password)
connect

In [5]:
# writing a sql query and storing this as a variable so that python can pick this code up

query = """select *
            from bootcamp.stock_description
            limit 10"""

In [6]:
# using the read sql function from python

pd.read_sql(query, connect)

/var/folders/gs/c69h38_15hb4fnkpnc9gvksm0000gn/T/ipykernel_75209/998712358.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, connect)

  stock_code                   description
0      10002   INFLATABLE POLITICAL GLOBE
1      10080      GROOVY CACTUS INFLATABLE
2      10120                  DOGGY RUBBER
3     10123C         HEARTS WRAPPING TAPE
4     10124A   SPOTS ON RED BOOKCOVER TAPE
5     10124G      ARMY CAMO BOOKCOVER TAPE
6      10125       MINI FUNKY DESIGN TAPES
7      10133  COLOURING PENCILS BROWN TUBE
8      10135  COLOURING PENCILS BROWN TUBE
9      11001   ASSTD DESIGN RACING CAR PEN

In [7]:
stock_test = pd.read_sql(query, connect)

/var/folders/gs/c69h38_15hb4fnkpnc9gvksm0000gn/T/ipykernel_75209/767326483.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  stock_test = pd.read_sql(query, connect)

In [8]:
type(stock_test)

pandas.core.frame.DataFrame

In [9]:
stock_test.head()

  stock_code                  description
0      10002  INFLATABLE POLITICAL GLOBE
1      10080     GROOVY CACTUS INFLATABLE
2      10120                 DOGGY RUBBER
3     10123C        HEARTS WRAPPING TAPE
4     10124A  SPOTS ON RED BOOKCOVER TAPE

In [14]:
query = """
select *
from bootcamp.online_transactions
limit 10
"""

In [15]:
online_transactions_test = pd.read_sql(query, connect)
online_transactions_test

/var/folders/gs/c69h38_15hb4fnkpnc9gvksm0000gn/T/ipykernel_75209/3793267919.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  online_transactions_test = pd.read_sql(query, connect)

,invoice,stock_code,quantity,invoice_date,price,customer_id,country
0,536370,21791,24,2010-12-01 08:45:00,1.25,u12583,France
1,536373,82494L,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom
2,536378,21929,10,2010-12-01 09:37:00,1.95,u14688,United Kingdom
3,536381,37444A,1,2010-12-01 09:41:00,2.95,u15311,United Kingdom
4,536381,15056BL,2,2010-12-01 09:41:00,5.95,u15311,United Kingdom
5,536381,22438,1,2010-12-01 09:41:00,1.95,u15311,United Kingdom
6,536384,22469,40,2010-12-01 09:53:00,1.45,u18074,United Kingdom
7,536384,22189,4,2010-12-01 09:53:00,3.95,u18074,United Kingdom
8,536385,22783,1,2010-12-01 09:56:00,19.95,u1742,United Kingdom
9,536389,35004C,6,2010-12-01 10:03:00,5.45,u12431,Australia

In [ ]:
# close the connection
connect.close()