In [8]:
# creating a variable called name

name = 'Sarah'

In [9]:
name

'Sarah'

In [6]:
type(name)

str

In [4]:
age = 34

In [5]:
age

34

In [7]:
type(age)

int

In [10]:
1name = "Bob"

SyntaxError: invalid decimal literal (1963213820.py, line 1)

In [11]:
name1 = "Bob"

In [12]:
first name = "John"

SyntaxError: invalid syntax (3633723842.py, line 1)

In [13]:
first_name = "John"

In [18]:
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"

In [19]:
fruit1

'Orange'

In [20]:
fruit2

'Banana'

In [21]:
fruit3

'Cherry'

In [23]:
fruit1, fruit2 = "Orange", "Banana"

In [24]:
fruit1 = fruit2 = fruit3 = "Orange"

In [30]:
print(fruit1)
print(fruit2)
print(fruit3)

Orange
Orange
Orange

In [39]:
fruit1

'Orange'

In [31]:
2 + 2

4

In [46]:
first_word = "Python3"
second_word = "is"
third_word = "awesome"

first_word + second_word + third_word

'Python3isawesome'

In [34]:
sentence = first_word + " " + second_word + " " + third_word

In [35]:
sentence

'Python is awesome'

In [36]:
type(sentence)

str

In [41]:
num1 = 5
num2 = 10

num1 + num2

15

In [47]:
first_word

'Python3'

In [48]:
type(first_word)

str

In [44]:
print(num1)
print(type(num1))

5
<class 'int'>

In [49]:
first_word + num1

TypeError: can only concatenate str (not "int") to str

In [51]:
print(first_word, ".", num1)

Python3 . 5

In [56]:
v1 = "Python"
v2 = 3

print(v1, v2)

Python 3

In [61]:
fruit1 = "strawberries"
fruit2 = "bananas"
print("My favourite fruits are", fruit1, "and", fruit2)

My favourite fruits are strawberries and bananas

In [62]:
print(first_word, ".", num1)

Python3 . 5

In [68]:
f"My python version is {first_word}.{num1}"

'My python version is Python3.5'

In [69]:
name

'Sarah'

In [75]:
first_name = name
second_name = "Haq"

In [76]:
print("My full name is", first_name, second_name)

My full name is Sarah Haq

In [71]:
f"My name is {name}"

'My name is Sarah'

In [72]:
age

34

In [73]:
f"My name is {name} and my age is {age}"

'My name is Sarah and my age is 34'